/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { 
  color: #fff; 
  text-decoration: none; 
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
}
a:visited { color: #fff; }
a:hover { color: #62A3D9; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Thanh Tran - trongthanh@gmail.com
   ========================================================================== */
/* --------- web font & text style---------- */
@import url(http://fonts.googleapis.com/css?family=Della+Respira);

@font-face{
	font-family: BodyFont;
  font-style: italic;
	font-weight: normal;  
	src: url('../fnt/eurof56-webfont.eot');
	src: url('../fnt/eurof56-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fnt/eurof56-webfont.woff') format('woff'),
	     url('../fnt/eurof56-webfont.ttf') format('truetype'),
	     url('../fnt/eurof56-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: TitleFont;
  font-style: italic;
	font-weight: normal;  
	src: url('../fnt/aispec-webfont.eot');
	src: url('../fnt/aispec-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fnt/aispec-webfont.woff') format('woff'),
	     url('../fnt/aispec-webfont.ttf') format('truetype'),
	     url('../fnt/aispec-webfont.svg#webfont') format('svg');
}


@font-face{
	font-family: 'angsai-webfont';
  font-style: italic;
	font-weight: normal;  
	src: url('../fnt/angsai-webfont.eot');
	src: url('../fnt/angsai-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fnt/angsai-webfont.woff') format('woff'),
	     url('../fnt/angsai-webfont.ttf') format('truetype'),
	     url('../fnt/angsai-webfont.svg#webfont') format('svg');
}
p, .para-text {
  font-family: 'Della Respira', Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
	color:#000;
}

.para-text-white {
  font-family: 'Della Respira', Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
	color: #FFF;
}

.geosans {
 font-family: 'Della Respira', sans-serif;
 font-size: 18px;
 color:#FFF;
}

.angsai-webfont {
 font-family: 'angsai-webfont', sans-serif;
 font-style:italic;
 font-size: 35px;
 color:#FFF;
}

h1 {
  font-family: 'TitleFont', Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  margin: 0;
}

.title-big {
  font-size: 150px;
  line-height: 180px;
	color:#000;
}

.title-big-white {
  font-size: 150px;
  line-height: 110px;
	color: #FFF;
}

.title-medium {
  font-size: 100px;
  line-height: 125px;
}

.title-medium-white {
  font-size: 100px;
  line-height: 125px;
	color:#FFF;
}

.title-small {
  font-size: 60px;
  line-height: 76px;
}


/* --------- debug ---------- */
div#debug {
  position: absolute;
  top: 20px;
  left: 0;
  text-align: left;
  color: #FF0000;
}

div#debug-point {
  width: 3px;
  height: 3px;
  background-color: #FF0000;
  z-index: 9999;
  position: absolute;
}

#bird-frame > canvas {
  border: 2px solid #FF0000;
}

/* --------- preloader ---------- */
#preloader {
  z-index: 50;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
}
  #preloader > img {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    left: 50%;
    top: 50%;
  }

/* --------- navigation ---------- */
header.navigation {
  z-index: 5;
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
	height:91px;
	background-image:url(../img/shadown_menu.png);
}

#main-nav > ul {  
/* TODO: move this to more specific children */
  font-family: 'TitleFont', Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  margin-top: 5px;
	font-size:30px;
	text-decoration:none;
	color: #FFF;
  display: inline-block;
}
#main-nav li {
  float: left;
  margin: 5px 10px;
}

/* ----------common -------------- */
a.check-it-btn {
  display: block;
  cursor: pointer;
}

.check-btn{
  background: #000000;
  padding-left: 10px;
  padding-right: 40px;
  height: 42px;
  display: inline-block;
  position: relative;
  /*border: 1px solid #000000;*/
/*  box-shadow:
    0px 1px 1px rgba(255,255,255,0.8) inset,
    1px 1px 3px rgba(0,0,0,0.2);*/
  border-radius: 10px;
  float: left;
  clear: both;
  margin: 20px 0 0 0;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  text-decoration: none;
  font: italic normal 34px/42px BodyFont;
}
.check-btn-text{
  padding-top: 0;
  display: block;
  white-space: nowrap;
  text-shadow: 0px 1px 1px rgba(128,128,128,0.3);
  color: #FFF;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}
.check-btn-slide-text{
  position:absolute;
  height: 100%;
  top: 0px;
  right: 32px;
  width: 0px;
  background: #474747 url('../img/right-arrow.png') 7px 9px no-repeat;
  text-indent: 100%; /* hide text */
  overflow: hidden;
  box-shadow:
    -1px 0px 1px rgba(255,255,255,0.4),
    1px 1px 2px rgba(0,0,0,0.2) inset;
  -webkit-transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
}
.check-btn-icon-right{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 0;
}

.check-btn:hover{
  padding-right: 90px;
}
.check-btn:hover .check-btn-text{
  text-shadow: 0 1px 1px #5d81ab;
  /*color: #5d81ab;*/
}
.check-btn:hover .check-btn-slide-text{
  width: 50px;
}

/* ---------- main content ----------- */
.main-container {
  position: relative;
  max-width: 1900px;
  width: 100%;
  min-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

.layer-container {
  position: relative;
  width: 1900px;
  margin-left: -950px;
  left: 50%;
}

.bg-far {
  z-index: 0;
  position: fixed;
  top: 0;
  width: 1900px;
  margin-left: -950px;
  left: 50%;
  background-color: #000410;
}

.bg-far-layer {
  position: absolute;
  width: 1900px;
  overflow: hidden;
}

#sky-layer {
  width: 1900px;
  height: 2700px;
  background: url('../img/sky-bg.jpg') 0 0 no-repeat;
}

#sea-layer {
  width: 1900px;
  height: 2700px;
  /*background:
    url('../img/bg_11.jpg') 0 0 no-repeat,
    url('../img/bg_12.jpg') 0 900px no-repeat,
    url('../img/bg_13.jpg') 0 1800px no-repeat;*/
  background-color: #000410;
}

.bg-near {
  position: fixed;
  width: 1900px;
  margin-left: -950px;
  left: 50%;
  z-index: 1;
}

/*TODO: replace all * with specific selector to optimize performance */
.bg-near > * {
  position: absolute;
}

.slide-container {
  position: relative;
}

.slide-content {
  z-index: 3;
  position: relative;
}

.slide-content > * {
  position: absolute;
}

.foreground {
  position: fixed;
  width: 1900px;
  margin-left: -950px;
  left: 50%;
  z-index: 4;
}

.foreground > * {
  position: absolute;
}

.slide {
  position: relative;
  width: 1900px;
  height: 900px;
}

/* slide 00 */

.waterfall > div {
  position: absolute;
}

.waterfall-bg-left {
  width: 122px;
  height: 720px;
  left: 148px;
  top: 291px;
  background: url("../img/slide-00/waterfall-bg-left.png") 0 0 no-repeat;
}

.waterfall-bg-right {
  width: 83px;
  height: 719px;
  left: 1104px;
  top: 309px;
  background: url("../img/slide-00/waterfall-bg-right.png") 0 0 no-repeat;
}

.waterfall-loop {
  background: url("../img/waterfall.png") 0 0 repeat-y;
  -moz-animation: waterfallloop 5s infinite linear;
  -webkit-animation: waterfallloop 5s infinite linear;
}

@-moz-keyframes waterfallloop {
	0% { background-position:0 0; }
	100% { background-position: 0 1200px; }
}

@-webkit-keyframes waterfallloop {
	0% { background-position:0 0; }
	100% { background-position: 0 1200px; }
}

.loop-left {
  left: 167px;
  top: 291px;
  width: 96px;
  height: 740px;
  background-size: 96px 1200px;
}

.loop-right {
  left: 1123px;
  top: 309px;
  width: 60px;
  height: 740px;
  background-size: 60px 1200px;
}

/* slide 01 */

.waterfall-1 > div {
  position: absolute;
}

.waterfall-bg-left-1{
  width: 34px;
  height: 243px;
  left: 610px;
  top: 315px;
  background: url("../img/slide-00/waterfall-bg-left.png") 0 0 no-repeat;
}

.waterfall-bg-right-1 {
  width: 13px;
  height: 207px;
  left: 900px;
  top: 315px;
  background: url("../img/slide-00/waterfall-bg-right.png") 0 0 no-repeat;
}

.waterfall-loop-1 {
  background: url("../img/waterfall.png") 0 0 repeat-y;
  -moz-animation: waterfallloop 5s infinite linear;
  -webkit-animation: waterfallloop 5s infinite linear;
}

@-moz-keyframes waterfallloop-1 {
	0% { background-position:0 0; }
	100% { background-position: 0 1200px; }
}

@-webkit-keyframes waterfallloop-1 {
	0% { background-position:0 0; }
	100% { background-position: 0 1200px; }
}

.loop-left-1 {
  left: 610px;
  top: 315px;
  width: 34px;
  height: 243px;
  background-size: 96px 1200px;
}

.loop-right-1 {
  left: 1000px;
  top: 315px;
  width: 13px;
  height: 207px;
  background-size: 60px 1200px;
}

/*=============== CSS3 - OBJECTS MOTION =================*/

/*============ SLIDE 01 ===============*/
#s01-airplane{
	position: absolute;
  left: 438px;
  top: 527px;
}


/*===============SLIDE 02 ==============*/

#s02-airplane {
	position:absolute;
  left: 1227px;
  top: 280px;
}

/*============ SLIDE 04 ===============*/
#s04-eagle {
  position:absolute;
  left: 1207px;
  top: 980px;
}

/*============ SLIDE 05 ===============*/

#s05-airplane {
  position:absolute;
  left: 787px;
  top: 491px;
}

/*============ SLIDE 07 ===============*/
#s07-snowskeater {
  position:relative;
  left: 1170px;
  top: 100px;
}
	
/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
